<%= form_with model: collection do |form| %>
  <%= render "fields_for", collection: collection, form: form %>
  <span class="<%= CssClass::BUTTON_BAR %>">
      <%= form.submit class: CssClass::SUBMIT %>
  </span>
<% end %>
