<section>
    <h1 class="text-2xl font-bold text-gray-900 md:text-3xl py-5">\
        Collections
    </h1>
    
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <% @collections.each do |collection| %>
            <%= render partial: "card", locals: { collection: collection } %>
        <% end %>
    </div>

    <% if @current_user %>
        <p><%= link_to "New Collection", new_collection_path %></p>
    <% end %>
</section>