<section class="w-full">
    <h1 class="text-2xl font-bold text-gray-900 md:text-3xl py-5 flex items-center">
        <span class="size-10">
            <%= render IconComponent.new(:collection) %>
        </span>
        <span class="px-3">Collections</span>
    </h1>
    
    <% if @current_user and @current_user.site_admin? %>
        <%= render AdminBarComponent.new(icon: :oplus, path: new_collection_path, text: "New")%>
    <% end %>
    
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <% @collections.each do |collection| %>
            <%= render partial: "card", locals: { collection: collection, admin: collection.has_admin?(@current_user) } %>
        <% end %>
    </div>

</section>