<h1>Collections</h1>

<ul>
    <% @collections.each do |collection| %>
        <li>
            <%= link_to collection.title, collection %>
            (<%= collection.short_title %>):
            <%= collection.description %>
        </li>
    <% end %>
</ul>
