<div id="<%= dom_id question %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= question.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prompt:</strong>
    <%= question.prompt %>
  </p>

</div>
