<%= link_to new_profile_path, 
    class: "inline-block rounded-lg bg-blue-600 px-3 mx-3 py-2 text-sm font-medium text-white" do %>
    <span class="inline-block size-4">
        <%= render IconComponent.new(:profile) %>
    </span>
    New Profile
<% end %>
