<div class="inline-flex rounded-lg border border-gray-100 bg-gray-100 p-1 mb-5">
    <span
        class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-500"
    >
        <span class="size-4">
            <%= render IconComponent.new(:key) %>
        </span>
        Admin:
    </span>

    <% @links.each do |link| %>
        <%= link_to(link[:path], class: "inline-flex items-center gap-2 rounded-md bg-white ml-1 px-4 py-2 text-sm text-blue-500 shadow-sm focus:relative") do %>
            <% if link.key? :icon %>
                <span class="size-4">
                    <%= render IconComponent.new(link[:icon]) %>
                </span>
            <% end %>
            <%= link[:text] %>
        <% end %>
    <% end %>
</div>