<nav aria-label="Breadcrumb">
    <ol class="flex items-center gap-1 text-sm text-gray-600">
        <% @crumbs.each_with_index do |crumb, i| %>
            <li>
                <span class="block transition flex gap-1 items-center justify-center">
                    <% if crumb.key? :link %>
                        <a href="<%= crumb[:link] %>" class="hover:text-gray-800 hover:font-medium gap-1 flex items-center justify-center">
                    <% end %>
                    <% if crumb.key? :icon %>
                        <span class="inline-block size-5">
                            <%= render IconComponent.new(crumb[:icon]) %>
                        </span>
                    <% end %>
                    <% if crumb.key? :text %>
                        <span><%= crumb[:text] %></span>
                    <% end %>
                    <% if crumb.key? :link %>
                        </a>
                    <% end %>
                </span>
            </li>
            <% unless i+1 == @crumbs.length %>
                <li>
                    <span class="block size-4">
                        <%= render IconComponent.new(:chevron) %>
                    </span>
                </li>
            <% end %>
        <% end %>
    </ol>
</nav>