
    <section class="overflow-hidden md:grid md:grid-cols-2 md:items-center">
      <div class="p-8 md:p-12 lg:px-16 lg:py-24">
        <div class="mx-auto max-w-xl text-center">
          <h1 class="text-3xl font-bold text-gray-900 md:text-5xl pb-2 md:py-5">
            ScholarLattice
          </h1>
          <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
            Your gateway to scholarship
          </h2>

          <p class="mt-4 flex justify-center items-center">
            <%= image_tag "logo.svg" %>
          </p>

          <p class="hidden text-gray-500 md:mt-4 md:block">
            ScholarLattice is run by academics who think faculty should be able to spend
            more time on what they care about most, and less time on logistics for organizing
            conferences, seminars, journals, and more.
          </p>

          <div class="mt-4 md:mt-8">
            <% if @current_user.present? %>
            <%= link_to "Connect with your colleagues", dashboard_path,
              class: "inline-block rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-sky-400" %>
            <% else %>
            <%= link_to "Get started with just your email", users_sign_in_path,
              class: "inline-block rounded bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-blue-700 focus:outline-none focus:ring focus:ring-sky-400" %>
            <% end %>
          </div>
        </div>
      </div>

      <%= image_tag "lecture.jpg",
        class: "h-full w-full object-cover md:rounded-ss-[60px]" %>
    </section>