<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 lg:px-8 lg:py-16">
    <h2 class="text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
      Trusted by academics everywhere
    </h2>

    <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
      <%= render "review", 
                  image: "james.jpg",
                  name: "James Kelly, Christopher Newport University" do %>
          ScholarLattice is an intuitive and very helpful resource when organizing a conference.
      <% end %>
      <%= render "review", image: "lynne.jpg", name: "Lynne Yengulalp, Wake Forest University" do %>
        ScholarLattice has been great for the Summer Conference on Topology and its Applications series.
        It helps conference organizers set up and manage sessions, participants, announcements, and abstracts.
        It also provides participants a nice experience during the registration process and during the conference.
        I highly recommend it!
      <% end %>
      <%= render "review", image: "will.jpg", name: "Will Brian, University of North Carolina at Charlotte" do %>
        I organized a conference. It was a lot of work, and sometimes kind of terrible.
        Using this site made it less terrible.
      <% end %>
    </div>
  </div>
</section>