<p>Use this token to verify your email and register for <%= @title %>!</p>

<p style="font-size:3em;text-align:center">
    <%= @token %>
</p>

<p>(By signing in, you agree to ScholarLattice's Privacy Policy and Terms of Service.)</p>
