<% content_for :title, "Edit Registration | #{@registration.collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">

  <%= render partial: "breadcrumb", locals: { collection: @registration.collection, action: "Edit" } %>

  <h1 class="font-bold text-4xl">Editing Registration</h1>

  <%= render "form", registration: @registration, collection: @registration.collection %>

  <%= link_to "Show this Registration", @registration, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to collection", collection_path(@registration.collection), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
