
  <div id="events" class="min-w-full">
    <%= month_calendar(events: events, attribute: :starts_at) do |date, events| %>
      <%= date.strftime("%b %d") %>
      <% events.each do |event| %>
        <div>
            <%= link_to "#{event.starts_at.strftime('%I:%M%p')}: #{event.title}", event, class: "text-blue-600 hover:underline" %>
        </div>
      <% end %>
    <% end %>
  </div>