<div id="<%= dom_id page %>">
    <div class="mathjax my-5 mx-auto prose sm:prose-xl prose-a:text-blue-600 hover:prose-a:text-blue-500 prose-a:no-underline">
        <%= sanitize page.content_html %>
    </div>
</div>
