<div id="<%= dom_id page %>">
    <h1 class="text-xl font-bold text-gray-900 md:text-2xl pt-5">
        <%= @page.collection.title %>
    </h1>
    <h2 class="text-2xl font-bold text-gray-900 md:text-3xl pt-1">
        <%= @page.title %>
    </h2>
    <div class="my-5 prose md:prose-xl">
        <%== page.content_html %>
    </div>
</div>
