<% content_for :title, "#{@page.title} | #{@page.collection.title}" %>
  
<div class="mx-auto md:w-2/3 w-full">
  <%= render "breadcrumb", page: @page %>
  <% if can? :manage, @page %>
      <div class="mt-3">
      <%= render AdminBarComponent.new(
          {icon: :edit, path: edit_page_path(@page), text: "Edit"},
      )%>
      </div>
  <% end %>
  <%= render @page %>
</div>
