<% content_for :title, "Edit Invitation | #{@invitation.collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "breadcrumb", locals: { collection: @invitation.collection, action: "Edit" } %>
  <h1 class="font-bold text-4xl">Editing invitation</h1>

  <%= render "form", invitation: @invitation %>
</div>
