<% content_for :title, "New Invitation | #{@invitation.collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">
  <%= render partial: "breadcrumb", locals: { collection: @invitation.collection, action: "New" } %>
  <h1 class="font-bold text-4xl">
    New invitation for
    <%= link_to @invitation.collection.title, @invitation.collection, class: "text-sky-700 hover:underline" %>
  </h1>

  <%= render "form", invitation: @invitation %>
</div>
