<%= form_with(model: submission, url: (submission.new_record? ? [submission.collection, submission] : [submission]), class: "contents") do |form| %>
  <%= render "fields_for", submission: submission, form: form %>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
