<% content_for :title, "New Submission | #{@submission.collection.title}" %>

<div class="mx-auto md:w-2/3 w-full">

  <%= render partial: "breadcrumb", locals: { collection: @submission.collection, action: "Edit" } %>

  <h1 class="font-bold text-4xl">New submission for <%= @submission.collection.title %></h1>

  <%= render "form", submission: @submission %>
</div>
