<h1>Submission Received</h1>
<p>
    The submission titled "<%= link_to @submission.title, submission_url(@submission) %>" 
    for <%= link_to @submission.collection.title, collection_url(@submission.collection) %>
    has been received by ScholarLattice.
    Visit <%= link_to 'this link', submission_url(@submission) %> to see the submission.
</p>
