<% content_for :title, "Edit Registration Payment | #{@registration_payment.registration.user.name_with_email}" %>

<div class="mx-auto md:w-2/3 w-full">

  <%= render partial: "registrations/breadcrumb", locals: { collection: @registration_payment.registration.collection, action: "Edit Payment" } %>

  <h1 class="font-bold text-4xl">Edit Registration Payment for <%= @registration_payment.registration.user.name_with_email %></h1>

  <%= render "form", payment: @registration_payment, registration: @registration_payment.registration %>

  <% if can? :destroy, @registration_payment %>
    <%= button_to "Destroy this payment", payment_path(@registration_payment), "@click" => "if(!confirm('Are you sure?')) $event.preventDefault()",
      class: "ml-2 mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", form_class: "inline-block", method: :delete %>
  <% end %>
</div>
